body{
  background-color: #E7E9FC;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 60px;


}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 3%;
    text-decoration: none;
    text-transform: uppercase;
    color: #4D5AE5;
  }
  .spa {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 3%;
    text-decoration: none;
    text-transform: uppercase;
    color: #2E2F42;
  }

  .page-menu-list a{
    text-decoration: none;
    color:#2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;    
  }

  .page-menu-list li{
    list-style: none;
  }
  .page-menu-list a:hover{
    color:#404BBF
  }
  
  .page-menu-list a:focus{
    color:#404BBF
  }
  
  .contact-us a{
    text-decoration: none;
    color:#2E2F42;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
  }
  .contact-us li{
    list-style-type: none;
  }
  .contact-us a:hover{
    color:#404BBF
  }

  .contact-us a:focus{
    color:#404BBF
  }
  .effective{
    background-color: #2E2F42;
    text-align: center;
    color:#ffffff
  }
  
  .button-sec{
    font-weight: 500;
    font-size: 16px;
    background-color: #4d5ae5;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
  }
  .button-order:hover {
    background-color: #404bbf;
  }
  
  .button-order:focus {
    background-color: #404bbf;
  }